
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 14, 2017, 5:30:08 PM
    Author     : Isuru Udukala
*/
@font-face {
    src: url("RobotoTTF/Roboto-Light.ttf");
}
@font-face {
    src: url("RobotoTTF/RobotoCondensed-Regular.ttf");
}
@font-face {
    src: url("RobotoTTF/RobotoCondensed-Bold.ttf");
}
@font-face {
    src: url("RobotoTTF/Roboto-Bold.ttf");
}


*{
    -fx-tab-base:#37455A;
    -fx-font-base: #D3D3D3;
    /*-fx-nav-base: #5EB355;*/
    -fx-nav-base: #37455A;
    -fx-stack-base: #333333;
    -fx-header-base: #57E7C5;
    -fx-red-base: #CB503F;
    -fx-tabhover-base: #212837;
}

.root{
    -fx-background-color: -fx-tab-base;
}

.stackpane{
    -fx-background-color: -fx-stack-base;
}

.error-label{
    -fx-text-fill: -fx-red-base;
}


.jfx-text-field, .jfx-password-field, .jfx-text-area, .jfx-combo-box{
    -jfx-focus-color: -fx-font-base;
    -jfx-unfocus-color:-fx-font-base;
    -fx-text-fill: -fx-font-base;
    -jfx-label-float: true;
    -fx-padding: 0px;
    -fx-pref-height: 25;
    -fx-font-size: 13px;
    
    -fx-font-family: "Roboto";
}

.jfx-radio-button{
    -jfx-selected-color: -fx-font-base;
    -jfx-unselected-color: -fx-font-base;
    -fx-text-fill: -fx-font-base;
    
    -fx-font-family: "Roboto";
}

.headers{
    -fx-font-family: "Roboto condensed";
    -fx-font-size: 20px;
    -fx-text-fill: -fx-header-base;
    -fx-font-weight: Normal;
}

.subheaders{
    -fx-font-family: "Roboto condensed";
    -fx-font-size: 15px;
    -fx-text-fill: -fx-header-base;
    -fx-font-weight: Normal;
}

.line{
    -fx-stroke: #57E7C5;
    -fx-pref-width: 1000;   
}

.sublabel{
    -fx-text-fill: -fx-font-base;
    -fx-font-family: "Roboto";
}

.jfx-date-picker{
    -jfx-default-color: -fx-font-base;
    -fx-font-family: "Roboto";
}

.jfx-tab-pane .tab-header-area .jfx-rippler{
    -jfx-rippler-fill: -fx-tab-base;
}
.jfx-tab-pane{
  -fx-tab-min-height:50px;
  -fx-tab-max-height:40px;
  -fx-font-family: "Roboto";
}
.jfx-tab-pane .headers-region {
    -fx-background-color: -fx-tab-base;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: -fx-tab-base;
}
.jfx-tab-pane .tab-selected-line {
    /*-fx-stroke: #57E7C5;*/
    -fx-background-color: #57E7C5;
    -fx-stroke-width: 2pt;
}

.tab:hover{
    -fx-background-color:-fx-tabhover-base;
}

.tab-label{
    -fx-font-size:11pt;
    -fx-padding:50px;
}

.menubutton{
    -fx-background-color:#FFC400;
    -fx-background-radius:40;
    -fx-max-height: 45;
    -fx-max-width: 45;
    -fx-min-height: 45;
    -fx-min-width: 45;
}

.menubutton:hover{
    -fx-background-color:#FFD54F;
}

.jfx-list-cell{
    -fx-background-insets: 0.0;
    -fx-background-color:-fx-stack-base;
}
.jfx-list-view{
    -fx-padding:0px;
    -fx-background-insets: 0;
    -jfx-cell-horizontal-margin: 0.0;
    -jfx-cell-horizontal-margin: 0.0;
    -jfx-cell-vertical-margin: 0.0;
    -jfx-vertical-gap: 15;
    -jfx-expanded: false;
}


.menubutton .jfx-rippler{
    -jfx-rippler-fill:#FFF9C4;
}

.navigator{
    -fx-background-color:-fx-nav-base;
    /*-fx-font-size:10pt;*/
}

.navigator .label{
    -fx-text-fill: WHITE;
    
    /**/
    -fx-font-family: "Roboto condensed";
}

.buttonGR{
    -fx-background-color:#68bf5f;
    /*-fx-background-radius:0;*/
    
    -fx-font-family: "Roboto condensed";
    -fx-font-size: 16;
    -fx-text-fill: WHITE;
}

.buttonGR:hover{
    -fx-background-color:#7ddb74;
}

.buttonS2{
    /*-fx-background-color: -fx-tab-base;*/
    -fx-background-color: #D36D03;
    /*-fx-border-color: -fx-header-base;*/
    /*-fx-background-radius:0;*/
    
    -fx-font-family: "Roboto condensed";
    -fx-font-size: 14;
    -fx-text-fill: WHITE;
}

.buttonS2:hover{
    -fx-background-color: #F6933D;
}

.buttonRound{
    -fx-background-color:#0C2434;
    -fx-background-radius:40;
    -fx-max-height: 45;
    -fx-max-width: 45;
    -fx-min-height: 45;
    -fx-min-width: 45;
}

.buttonRound:hover{
    -fx-background-color: #F6933D;
}

/*list view*/

.navigator .jfx-list-cell{
    -fx-background-insets: 0.0;
    -fx-background-color:-fx-nav-base;
    -fx-padding: 16px;
}

.navigator .jfx-list-cell:selected{
    -fx-background-color: #00796B;
}

.navigator .jfx-list-cell:hover{
    -fx-background-color: -fx-tabhover-base;
}

.navigator .jfx-list-cell .jfx-rippler{
    -jfx-rippler-fill: #9CCC65
}

.navigator .jfx-list-view{
    -fx-padding:0px;
    -fx-background-insets: 0;
    -jfx-cell-horizontal-margin: 0.0;
    -jfx-cell-horizontal-margin: 0.0;
    -jfx-cell-vertical-margin: 0.0;
    -jfx-vertical-gap: 15;
    -jfx-expanded: false;
}

.scroll-pane {
    -fx-padding:0px;
    -fx-background-color: -fx-stack-base;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0.1em;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: -fx-tab-base;
    -fx-background-radius: 0;
}

.popover > .border {
    -fx-stroke-width: 0;
    -fx-fill: #0C2434;
    /*-fx-effect: dropshadow(gaussian, lightgray, 6.0, 0.0, 1.0, 1.0);*/
}

.table-cell {
	-fx-border-color: transparent;
	-fx-border-width: 5;
        -fx-padding: 8px;
}

.table-cell .label{
    -fx-font-family: "Roboto";
}


.table-view{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.table-view .column-header{
    -fx-size: 40px;
}
.table-view .column-header .label{
    -fx-border-width: 0;
    -fx-size: 40px;
    
    -fx-font-family: "Roboto condensed";
    -fx-font-size: 14px;
    -fx-text-fill: black;
    -fx-font-weight: normal;
}

.table-row-cell:selected{
    -fx-background-color: -fx-tab-base;
}


/*-------------------------------------------------------------------------------*/
/*

.table-view .filler{}

.table-row-cell{
    -fx-cell-size: 45px;
}

.table-row-cell:odd{
    -fx-cell-size: 45px;
    -fx-background-color:white;
}
.table-view .column-header .label{
    -fx-border-width: 0;
    -fx-size: 40px;
    
    -fx-font-family: "Roboto condensed";
    -fx-font-size: 14px;
    -fx-text-fill: black;
    -fx-font-weight: normal;
}
.table-view, .tree-table-view {
	 Constants used throughout the tableview. 
        -fx-table-backgroundset: white;
	-fx-table-header-border-color: transparent;
	-fx-table-cell-border-color: -fx-box-border;  Horizontal Lines
	-fx-background-color: transparent;
}
.table-view .show-hide-columns-button, .tree-table-view .show-hide-columns-button
	{
	-fx-background-color: transparent;
}

.table-view .column-header .label, .table-view .filler .label,
	.table-view .column-drag-header .label, .tree-table-view .column-header .label,
	.tree-table-view .filler .label, .tree-table-view .column-drag-header .label{
	-fx-alignment: CENTER_LEFT;
}


.table-row-cell, .tree-table-row-cell {
    -fx-background-color: -fx-table-backgroundset;
    -fx-cell-size: 45px;
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-backgroundset;
    -fx-border-color: -fx-font-base;
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-cell {
	-fx-border-color: transparent;  Vertical Lines
	-fx-border-width: 2;
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
    -fx-background-color: -fx-table-backgroundset;
}
.table-view .column-header{
    -fx-background-color: -fx-table-backgroundset;
    -fx-size: 50px;
}

.table-row-cell:selected{
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}
*/


/*
.table-view{
   -fx-background-color: transparent;
  -fx-table-cell-border-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 50 0 1 0;
    -fx-padding: 0.0em;
    -fx-cell-size: 30px;
    -fx-border-width: 1;
}
.table-view .table-row-cell {
  -fx-border-width: 1;
}*/

/*
.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
}



.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;  0   
}

**/

/*
 The main scrollbar **track** CSS class  
.mylistview .scroll-bar:horizontal .track,
.mylistview .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-border-radius: 2em;
}

 The increment and decrement button CSS class of scrollbar 
.mylistview .scroll-bar:horizontal .increment-button,
.mylistview .scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 0 10 0;
}

 The increment and decrement button CSS class of scrollbar 

.mylistview .scroll-bar:vertical .increment-button,
.mylistview .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;

}

.mylistview .scroll-bar .increment-arrow,
.mylistview .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

 The main scrollbar **thumb** CSS class which we drag every time (movable) 
.mylistview .scroll-bar:horizontal .thumb,
.mylistview .scroll-bar:vertical .thumb {
    -fx-background-color: derive(black, 90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}
*/
